<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Familiares</title>
</head>
<body>
    <h1>¡Familiares agregados con éxito!</h1>

    <br>
    <ul>
        <li><a href="http://127.0.0.1:8000/inicio/">Volver al inicio</a></li>
        <br>
        <li><a href="http://127.0.0.1:8000/agregar_familiares/">Agregar nuevamente familiares</a></li>
        <br>
        <li><a href="http://127.0.0.1:8000/listar_familiares/">Listar familiares</a></li>
    </ul>
</body>
</html>
