<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTV - Lorenzatti</title>
</head>
<body>
    <h1>Bienvenidos al primer MTV creado con Django.</h1>
    <h2>Los datos de mis familiares cargados a la db son los siguientes:</h2>

    <ul>
        <li> Agregar familiares: <a href="http://127.0.0.1:8000/agregar_familiares/">AGREGAR</a></li>
        <br>
        <li> Listar familiares: <a href="http://127.0.0.1:8000/listar_familiares/">LISTAR</a></li> 
    
    </ul>
    

</body>
</html>